.App {
  min-height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "top"
  "middle"
  "content"
  "bottom";
}

.topBar{
  grid-area: top;
  grid-row-end: 1;
 
  position: fixed;
  
  justify-content: space-between;

  padding: 10px;
  width: 100%;

  background-image: linear-gradient(to right, darkblue, lightskyblue);
}

.header{
  grid-area: left;
  align-self: center;
}

.account{
  grid-area: right;
  justify-content: center;
  align-self: center;
  margin-right: 40px;
}

.navBar{
  overflow: hidden;
  grid-area: middle;
  margin-top: 120px;
  height: 1fr;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
}

.contentArea{
  grid-area: content;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.helpBar{
  background-color: blueviolet;
  position: relative;
  height: 50px;
  clear: both;
  grid-area: bottom;
}

/*container*/
.content{
  width: 100%;
  height: auto;
  background: yellow;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

/*box*/
.postedArticle{
  width: 20%;
  height: auto;
  align-content: center;
  background: lightcoral;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.postedTopic{
  width: 20%;
  height: 300px;
  align-content: center;
  background: green;
  margin: 20px;
  box-sizing: border-box;
}