.App {
  min-height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "top"
  "content"
  "bottom";
  background-image: url("./cssFiles/starBackground.jpg");
  background-color: black;
}

.topBar{
  grid-area: top;
  grid-row-end: 1;
 
  position: sticky;
  background-image: url("./cssFiles/starBackground.jpg");

  border-bottom-color: lightskyblue;
  border-bottom-style: double;
  border-bottom-width: 5px;

  justify-content: space-evenly;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

  .header{
    align-self: center;
    padding-left: 50px;
    flex-basis: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
    @media screen and (max-width: 787px) {
      h1{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  
  .navButtons{
    align-self: center;
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
  }
    .home{
      color: lightskyblue;
      justify-content: center;
      flex-basis: 1fr;
      padding-left: 10px;
      padding-right: 10px;
    }
    .topics{
      color: lightskyblue;
      justify-content: center;
      flex-basis: 1fr;
      padding-left: 10px;
      padding-right: 10px;
    }
    .articles{
      color: lightskyblue;
      justify-content: center;
      flex-basis: 1fr;
      padding-left: 10px;
      padding-right: 10px;
    }
  
  .account{
    justify-content: center;
    align-self: center;
    flex-basis: 25%;
  }

.contentArea{
  grid-area: content;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

/*container*/
.content{
  width: 100%;
  height: auto;
  background: yellow;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

/*box*/
.postedArticle{
  width: 20%;
  height: auto;
  align-content: center;
  background: lightcoral;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  min-width: 300px;
}

.postedTopic{
  width: 20%;
  height: 300px;
  align-content: center;
  background: green;
  margin: 20px;
  box-sizing: border-box;
}

.helpBar{
  background-image: url("./cssFiles/starBackground.jpg");
  background-color: black;  position: relative;

  border-bottom-color: cadetblue;
  border-top-style: dashed;
  border-top-width: 2px;
  
justify-content: space-evenly;

  height: 50px;
  clear: both;
  grid-area: bottom;
}

  .about{
    color: lightskyblue;
    justify-content: center;
    flex-basis: 1fr;
    padding-left: 10px;
    padding-right: 10px;  
  }

  .help{
    color: lightskyblue;
    justify-content: center;
    flex-basis: 1fr;
    padding-left: 10px;
    padding-right: 10px;  
  }