.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 75px auto;
  grid-template-areas: 
  "top top"
  "left middleRight"
  "left bottomRight"
}

.topBar{
  grid-area: top;
  display: flex;
  justify-content: space-between;
  border-style: groove;
  border-color: green;
  border-width: 10px;
}

.header{
  flex-grow: 1;
}

.account{
  flex-grow: 1;
  justify-content: center;
}

/* .navBar{
  grid-area: navBar;
  align-items: center;
  justify-content: center;
}

.content{
  grid-area: content;
  align-items: center;
  justify-content: center;
} */
